.about {
    background-color: rgb(34, 33, 33);
    color: black;
}
.about > div {
    display: flex;
    gap: 20px;
    width: 70%;
    margin: auto;
    padding: 50px 0 70px 0;
    justify-content: space-between;
    font-family: 'Patrick Hand', cursive;
}

.about_firstChild {
    width: 50%;
}
.about_firstChild img{
    width: 50px;
    height: 50px;
}
.about_firstChild h1 {
    font-size: 30px;
}
.animate_txt {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.wrapper {
    /* border: 1px solid blue; */
    height: 30px;
    display: inline-flex;
}
.wrapper .static_txt {
    font-size: 25px;
    font-weight: 400;
}
.wrapper .dynamic_txt {
    /* border: 1px solid red; */
    /* margin-left: 15px; */
    height: 35px;
    line-height: 70px;
    overflow: hidden;
}
.dynamic_txt {
    /* width: 100%; */
    margin: auto;
}
.dynamic_txt li {
    /* border: 1px solid olive; */
    margin-left: -28px;
    margin-top: -20px;
    color: #0033ff;
    list-style: none;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    top: 0;
    /* display: flex;
    text-align: center;
    align-items: center; */
    animation: slide 6s steps(2) infinite;
}
.dynamic_txt li span {
    position: relative;
}
@keyframes slide {
    100% {
        top: -100px;
    }
}

.dynamic_txt li span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    border-left: 2px solid #0033ff;
    animation: typing 3s steps(9) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -10px 0 10px;
    }
}


.about_firstChild p {
    font-size: 20px;
}
.about > div:first-child >div {
    width: 100%;
}

.profile {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile > div {
    border: 5px solid #fff;
    box-sizing: border-box;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    overflow: hidden;
    transform: translateY(0px);
    animation: float 3s ease-in-out infinite;
}
.profile img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    /* border-radius: 50%; */
}

.download {
    margin-top: 50px;
}
.download a {
    margin-right: 15px;
    font-size: 25px;
    color: #6b6a6a;
}
/* .download a:hover {
    border: 1px solid red;
    transform: scale(2);
} */

.resume button {
    background-color: #6b6a6a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 35px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* transform: rotate(-8deg); */
}
.resume button:hover {
    transform: rotate(0deg);
    animation: rotate 0.6s ease-in-out both;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0,0,0);
    }
    25% {
        transform: rotate(7deg) translate3d(0,0,0);
    }
    50% {
        transform: rotate(-7deg) translate3d(0,0,0);
    }
    75% {
        transform: rotate(1deg) translate3d(0,0,0);
    }
    100% {
        transform: rotate(0deg) translate3d(0,0,0);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}