body::-webkit-scrollbar {
    width: 0;
}
html {
    scroll-behavior: smooth;
}
.navbar {
    position: fixed;
    width: 100vw;
    background-color: #fff;
    z-index: 100;
}
.menu_bar {
    /* border: 1px solid blue; */
    position: relative;
    /* background-color: red; */
    height: 90vh;
    overflow: hidden;
    display: none;
}
.menu_bar > div {
    /* border: 1px solid orange; */
    height: 100%;
    /* transform: translateY(-100%); */
}
.menu_items {
    /* border: 1px solid green; */
    height: 100%;
    display: flex;
    flex-direction: column;
}
.menu_items > div {
    /* border: 1px solid red; */
    height: 100%;
}
.menu_items  h4 {
    /* border: 1px solid blue; */
    text-align: center;
    /* width: 100%; */
}
.navbar > div:first-child {
    z-index: 10;
    display: flex;
    padding: 0 60px;
    justify-content: space-between;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logo_div {
    /* border: 1px solid red; */
    display: grid;
    place-content: center;
}

.logo h2{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.logo h2 {
    font-weight: 500;
}
.logo h2:nth-child(2) {
    margin-top: -80px;
    /* color: rgb(174, 174, 174); */
    color: rgb(100, 100, 100);
    /* color: blue; */
    animation: anm 3s ease-in-out infinite;
}
@keyframes anm {
    0%,
 100% {
    clip-path: polygon(
        0% 0%,
        14% 0,
        27% 14%,
        40% 26%,
        53% 38%,
        67% 48%,
        80% 51%,
        100% 49%,
        100% 99%,
        0% 99%
    );
}
50% {
    clip-path: polygon(
        0% 89%,
        14% 54%,
        30% 53%,
        45% 76%,
        57% 86%,
        66% 31%,
        68% 17%,
        100% 100%,
        100% 99%,
        0% 99%
    );
}
}
.navbox {
    /* border: 1px solid green; */
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
.link, .link2 {
    cursor: pointer;
    position: relative;
    color: #000000;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    scroll-behavior: smooth;
    font-size:  22px;
    padding-bottom: 10px;
}
.link2 {
    padding-bottom: 0;
}
.link::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: #2f4356;
    transition: width 0.6s ease-out;
}
.link:hover.link::after {
    width: 100%;

}
.navbar span {
    cursor: pointer;
}


.menu {
    /* border: 1px solid orange; */
    width: 100px;
    display: flex;
    position: relative;
    /* justify-content: space-between; */
    align-items: center;
}
.menu_div {
    /* border: 1px solid blue; */
    margin-top: 10px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}
.menu_sound {
    position: absolute;
    left: 0;
}
.menu_theme {
    position: absolute;
    left: 33.3px;
}
.menu_sound, .menu_theme {
    /* border: 1px solid blue; */
    display: grid;
    place-content: center;
}
.menu > div {
    width: 30px;
    height: 30px;
    /* border: 1px solid green; */
}
.menu_div > div {
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    
}
.cross_div {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    justify-content: center;
    display: none;
}
.cross_div > div {
    width: 30px;
    height: 3px;
    position: absolute;
}
.cross_div > div:first-child {
    transform: rotate(45deg);
    transition: transform 1s linear;
    /* animation: cross1 0.5s linear ; */
    
}
.cross_div > div:last-child {
    transform: rotate(-45deg);
    /* animation: cross2 0.5s linear ; */
}
@keyframes cross1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}
@keyframes cross2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-45deg);
    }
}



@media screen and (min-width: 881px) {
    
    .navbar {
        /* border: 1px solid red; */
    }
    .menu {
        display: none;
    }
}
@media screen and (min-width: 0) and (max-width: 880px) {
    .navbar > div:first-child {
        padding: 0 20px;
    }
    .navbox {
        /* border: 1px solid red; */
        /* border: 1px solid blue; */
        display: none;
        /* visibility: hidden; */
    }
}
