.scrollTop {
  position: fixed;
  z-index: 100;
  width: 40px;
  height: 40px;
  right: 28px;
  bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.scrollTop span {
  font-size: 40px;
  color: #fff
}

.audio_div {
  /* border: 1px solid red; */
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
}
.audio_div audio {
  /* border: 2px solid blue; */
  display: none;
}
.audio_div i {
  /* border: 1px solid black; */
  color: #1e272e;
  cursor: pointer;
  font-size: 25px;
}