
.navbar {
    position: fixed;
    width: 100vw;
    background-color: #fff;
    z-index: 5;
    /* background-color: #000; */
    /* color: #fff; */
}
.navbar > div {
    z-index: 10;
    display: flex;
    padding: 0 60px;
    justify-content: space-between;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar > div > div:first-child {
    /* border: 1px solid red; */
    display: grid;
    place-content: center;
}
.logo h2{
    font-family:Arial, Helvetica, sans-serif, sans-serif;
    font-size: 35px;
}
.logo h2 {
    font-weight: 500;
}
.logo h2:nth-child(2) {
    margin-top: -70px;
    color: rgb(174, 174, 174);
    animation: anm 3s ease-in-out infinite;
}
@keyframes anm {
    0%,
 100% {
    clip-path: polygon(
        0% 0%,
        14% 0,
        27% 14%,
        40% 26%,
        53% 38%,
        67% 48%,
        80% 51%,
        100% 49%,
        100% 99%,
        0% 99%
    );
}
50% {
    clip-path: polygon(
        0% 59%,
        14% 54%,
        30% 53%,
        45% 56%,
        57% 46%,
        66% 31%,
        78% 17%,
        100% 0%,
        100% 99%,
        0% 99%
    );
}
}
.navbar >div> div:nth-child(2) {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.navbar h4 a {
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    scroll-behavior: smooth;
}
.navbar span {
    cursor: pointer;
}
.navbar h4 a:hover {
    /* color: #777676; */
    color: 'red'
}

