.skills {
    /* background-color: #181717;
    color: #fff; */
    /* margin-top: 500px; */
    border: 1px solid orange;
}
.skills h1 {
    
}

.skills > div:nth-child(2) {
    width: 50%;
    margin: auto;
    display: grid;
    border: 1px solid red;
    grid-template-columns: repeat(3,1fr);
}
.skills img {
    border: 1px solid blue;
    width: 100px;
}